body {
  background-color: $body-bg-color;
  color: $body-font-color;
  font-family: $font;
  font-size: 12px;
  line-height: 22px;
  height: 100%;
  min-height: 100%;

  .container-fluid {
    background-color: $white;
    min-height: 200px;
  }

}

.left {
  float: left;
}

.right {
  float: right;
}

.bold-caption {
  font-weight: 700;
}

.text-center {
  text-align: center;
}