.header {
  margin: 0px;
  width: 100%;
  color: $white;

  .nav>li>a:hover {
    background: none;
  }

  a {
    color: white;
  }

  .inner-header {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .upper-header {
    background-color: $green;
    height: 25px;
    width: 100%;
    margin-bottom: 5px;

    ul {
      list-style-type: none;
      width: 100%;
      margin: 0px;
      li {
        display: inline-block;
        width: 33%;
        a {
          text-decoration: none;
        }
      }
    }
  }

  .middle-header {
    height: 80px;

    .logo {
      padding: 26px 20px;
      font-size: 28px;
      height: 100%;
    }

    .fa {
      color: $green;
    }
  }

  .navigation {
    background-color: rgba(37, 37, 37, 0.9);
    height: 60px;

    ul.nav {
      list-style-type: none;
      height: 100%;
      margin: 0px;

      > li {
        display: inline-block;
        height: 60px;
        padding: 0px 5px;
        position: relative;

        //&.active {
        //  border-top: 4px solid $green;
        //}

        ul {
          display: none;
          position: absolute;
          z-index: 15;
          margin: 0px;
          border: 2px solid rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          padding: 0px;
          width: 220px;
          list-style-type: none;
          left: 0;

          li {
            display: block;
            text-align: center;

            a {
              display: block;
              font-size: 13px;
              font-weight: 300;
              border: 0;
              height: 15px;
              padding: 19px;
              color: #252525;
              text-decoration: none;

              &:hover {
                color: black;
                background-color: transparent;
              }
            }
          }
        }

        > a {
          display: block;
          font-size: 14px;
          font-weight: 300;
          width: 100%;
          height: 22px;
          padding: 18px;
          padding-bottom: 17px;
          color: $white;
          text-decoration: none;

          i {
            color: $green;
            padding-left: 5px;
          }
        }
      }
    }
  }
}