<div class="header">
    <div class="upper-header">
        <div class="inner-header">
            <ul class="text-center">
                <li>
                    <span class="bold-caption">E-mail: </span> <a href="jacobweyer@gmail.com">JacobWeyer@gmail.com</a>
                </li>
                <li>
                    <span class="bold-caption">Phone: </span> 859-512-7074
                </li>
                <li>
                    <span class="bold-caption"><a href="/logout">Logout</a></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="middle-header">
        <div class="inner-header">
            <div class="logo">Sinmar Realty Apartment Search</div>
        </div>
    </div>
    <div class="navigation">
        <div class="inner-header">
            <ul class="nav">
                <li class="active linav"><a href="#">Home</a></li>
                <li class="linav">
                    <a href="{{ path("apartments_list") }}">Apartments <i class="fa fa-chevron-down"></i></a>
                    {#<ul class="submenu" id="apartments_submenu">#}
                        {#<li><a href="#">View Apartment List</a></li>#}
                        {#<li><a href="#">Add Apartment</a></li>#}
                    {#</ul>#}
                </li>
                <li class="linav">
                    <a href="#">Communities <i class="fa fa-chevron-down"></i></a>
                    {#<ul class="submenu" id="communities_submenu">#}
                        {#<li><a href="#">View Community List</a></li>#}
                        {#<li><a href="#">Add Community</a></li>#}
                    {#</ul>#}
                </li>
                <li class="linav">
                    <a href="#">Reporting <i class="fa fa-chevron-down"></i></a>
                    {#<ul class="submenu" id="reporting_submenu">#}
                        {#<li><a href="#">Phone Number List</a></li>#}
                        {#<li><a href="#">Fax Number List</a></li>#}
                    {#</ul>#}
                </li>
            </ul>
        </div>
    </div>
</div>