<html>
    <head>
        <title>Sinmar | {% block sitetitle %}{% endblock sitetitle %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />

        {% include "SinmarApartmentBundle:Elements:stylesheets.html.twig" %}
        {% block stylesheets %}

        {% endblock stylesheets %}

    </head>
    <body>
        {% include "SinmarApartmentBundle:Elements:navigation.html.twig" %}
        <div class="container-fluid">
            {% block body %}{% endblock body %}
        </div>
        {% include "SinmarApartmentBundle:Elements:footer.html.twig" %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {% include "SinmarApartmentBundle:Elements:javascripts.html.twig" %}
        {% block js %}

        {% endblock js %}
    </body>
</html>